#开始编辑配置时，心中牢记缩进和冒号引号，任何不懂，查看官方wiki：https://wiki.metacubex.one
#修改配置后如果内核不能启动，请查看日志，日志中会告诉你配置第几行写错
#或者使用在线yaml检测器进行检测（https://www.bejson.com/validators/yaml_editor/）
mixed-port: 7890
mode: rule
allow-lan: true
unified-delay: false
tcp-concurrent: true
find-process-mode: always
log-level: warning
#interface-name: tun0  如果需要配合VPN嵌套使用，需使用此功能
ipv6: true
#关掉后可能在部分手机上出现dns泄露，volte不可用等问题，目前IPv6可以正常使用，不建议关闭
external-controller: 0.0.0.0:9090
external-ui: WebUI
external-ui-url: "https://github.com/Zephyruso/zashboard/releases/latest/download/dist.zip"


geodata-mode: true
geox-url:
  geoip: "https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geoip.dat"
  geosite: "https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat"
  asn: "https://github.com/xishang0128/geoip/releases/download/latest/GeoLite2-ASN.mmdb"
geo-auto-update: true
geo-update-interval: 48

profile:
  store-selected: true
  store-fake-ip: true

#嗅探器关闭后可能出现连接本机热点的设备无法上网的问题
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  skip-domain:

#tun必须开启，否则将无法代理流量，如网页打开慢，电报卡连接中，
#可以尝试更换堆栈，同一堆栈在不同设备上体验不同，自行尝试。
#更换为非gvisor堆栈可能导致IPv6出现问题

tun:
  enable: true
  stack: gvisor
  device: Meta
  udp-timeout: 300
  auto-route: true
  auto-redirect: false
  auto-detect-interface: true
  strict-route: false
  dns-hijack: 
    - any:53
    - tcp://any:53
  exclude-uid:
  exclude-package:
    - com.xiaomi.mirror
    - com.xiaomi.mi_connect_service
    - com.samsung.android.messaging
    - com.samsung.android.app.telephonyui
    - com.samsung.android.dialer
    - com.samsung.android.incallui
    - com.samsung.android.smartcallprovider
    - com.samsung.android.intellivoiceservice
    - com.android.settings
    - com.qti.qcc
    - com.sec.epdg
    - com.sec.imsservice
  exclude-interface:
  exclude-uid-range:
    - 1000:9999
#exclude-package内填写的包名，网络流量不经过tun，相当于黑名单
#但是该应用的dns请求仍会被clash处理，这可能导致问题
#默认添加MIUI镜像服务以及三星电话服务，避免系统功能不可用
#如果想仅代理指定应用，请将exclude-package改为include-package
#然后填上想要走代理的包名，不要忘了英文冒号和缩进。
#目前分流规则已足够完善，白名单可能存在问题，不建议使用

dns:
  enable: true
  ipv6: true
  ipv6-timeout: 300
  enhanced-mode: redir-host
# redir-host / fake-ip 可切换，建议使用redir-host避免出现莫名其妙的bug
#如果删除了user策略组，需要在dns这里也删除，否则内核无法启动
  nameserver-policy:
    'rule-set:userDirect':
      - https://dns.alidns.com/dns-query#中国网站
      - https://doh.pub/dns-query#中国网站

    'rule-set:userProxy': 
      - https://cloudflare-dns.com/dns-query#代理
      - https://dns.google/dns-query#代理

    'geosite:cn,private,googlefcm':
      - https://dns.alidns.com/dns-query#中国网站
      - https://doh.pub/dns-query#中国网站
  nameserver:
    - https://cloudflare-dns.com/dns-query#代理
    - https://dns.google/dns-query#代理

  proxy-server-nameserver:
    - https://dns.alidns.com/dns-query#中国网站
    - https://doh.pub/dns-query#中国网站

#-----------------------------------------------------------------------------
#机场订阅全局设置
pp: &pp
  type: http
  interval: 21600
  health-check:
    enable: true
    url: https://www.gstatic.com/generate_204
    interval: 900
    timeout: 3000
    lazy: true
    expected-status: 204

proxy-providers:
#如果想要修改机场名（机场1等），需要全改，建议使用编辑器的查找替换功能
#如果想要删除几个机场，在下面的策略组也要删除对应部分，否则内核无法启动

  机场1:
    <<: *pp
    url: "订阅链接"
    path: ./proxy_providers/机场1.yaml

  机场2:
    <<: *pp
    url: "订阅链接"
    path: ./proxy_providers/机场2.yaml

  机场3:
    <<: *pp
    url: "订阅链接"
    path: ./proxy_providers/机场3.yaml
    
#------------------------------------------------------------------------------
proxy-groups:

  - name: 代理
    type: select
    proxies:
      - 自动切换
      - 智能选择


  - name: 自动切换
    type: fallback
    include-all: true
    filter: '美国|USA|美國|us|US|United States'
    interval: 300
    lazy: true
    timeout: 3000
    max-failed-times: 5
    expected-status: 204
    url: 'https://www.gstatic.com/generate_204'


  - name: 智能选择
    type: smart
    policy-priority: "US:1.2,美国:0.9"
    uselightgbm: true
    collectdata: false
    strategy: sticky-sessions
    prefer-asn: true
    include-all: true
    filter: '美国|USA|美國|us|US|United States'

#----------------------------------------------------------------
  - name: 广告
    type: select
    proxies:
      - REJECT-DROP 
      - PASS

  - name: 中国网站
    type: select
    proxies:
      - DIRECT
      - 代理
#-------------------------------------------------------------------
#用户自定义直连/代理规则，文件在模块目录/rule-provider/
#如有需要请参考官方文档写入
#如果想要删除两个自定义规则，需要把上面dns配置内对自定义规则的设置删除，否则内核将无法启动

rule-providers:

  userDirect:
    type: file
    behavior: classical
    path: ./rule_providers/userDirect.yaml

  userProxy:
    type: file
    behavior: classical
    path: ./rule_providers/userProxy.yaml

  秋风广告规则:
    type: http
    behavior: classical
    format: yaml
    path: ./rule_providers/AWAvenue-Ads-Rule-Clash.yaml
    url: "https://raw.githubusercontent.com/TG-Twilight/AWAvenue-Ads-Rule/refs/heads/main/Filters/AWAvenue-Ads-Rule-Clash-Classical.yaml"
    interval: 86400

rules:

  - RULE-SET,userProxy,代理
  - RULE-SET,userDirect,中国网站
  
  - GEOSITE,googlefcm,DIRECT
  
  - GEOSITE,private,DIRECT
  - GEOIP,private,DIRECT

  - RULE-SET,秋风广告规则,广告
  #- GEOSITE,category-ads-all,广告  #秋风规则足够日用，geodata提供的规则过于冗杂

  - GEOSITE,CN,中国网站
  - GEOIP,CN,中国网站,no-resolve

  - MATCH,代理